.loadingTitle {
    color: white;
    font-size: 60px;
    text-align: center;
    margin-bottom: 0;
}

.please {
    color: #2b9348;
    margin-top: 12px;
    font-size: 24px;
    text-align: center;
}

.container {
    background: #ffffff;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    border-radius: 7px;
    border: 1px solid #2a609e;
    display: flex;
}

.left{
    text-align: center;
    margin-left: 12%;
}

.right{
    margin-left: 10%;
    margin-top: 7%;
}

.name1, .id1 {
    color: #2b9348;
}

.boton {
    margin-left: 10%;
    margin-top: 20%;
}

.boton_home {
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    background: #ffea00;
    border-color: #ffea00;
    color: #000000;
    transition: all 0.3s ease;
    font-size: 14px;
    font-weight: bold;
}

.boton_home:hover {
    color: #000000;
    background: none;
    border-color: #000000;
}
